body {
	font-family: 'Muli', sans-serif;
}

.span4 {
width: 272px;
margin-top: 69px;
}

.bills-title {
text-align: center;
margin-top: 50px;
margin-bottom: 20px;
color: steelblue;
font-size: -webkit-xxx-large;
text-shadow: 2px 4px 15px #A9A9A9;
}

.container {
width: 1020px;
}

.row {
	margin: 0;
	float: left;
}

.row2 {
float: right;
}

.button-container {
width: 700px;
margin: 0 auto;
}

.btn-lg, .btn-group-lg>.btn {
padding: 18px 65px;
font-size: 18px;
line-height: 1.33;
border-radius: 0px;
box-shadow: 2px 4px 15px #A9A9A9;
}

.bills-title {
text-align: center;
margin-top: 50px;
margin-bottom: 20px;
}

/***************
Paid
***************/

.total-paid {
width: 500px;
margin: 21px auto 0px auto;
border: 1px solid;
padding: 6px 30px;
}

.home-button {
position: fixed;
}

.edit-button {
width: 100px;
}

select {
width: 286px;
font-family: inherit;
font-size: 16px;
line-height: inherit;
}

.company-content{
width: 600px;
margin: 50px auto;
border: 1px solid;
padding-top: 20px;
}

label.col-sm-5.control-label {
padding-top: 3px;
}

button.btn.btn-default {
width: 200px;
}

.col-sm-offset-1.col-sm-5 {
margin: 20px auto 0 auto;
}

.address-input {
width: 268px;
height: 70px;
}


.calculate-form {
width: 600px;
margin: 50px auto;
border: 1px solid;
padding-top: 20px;
}

.front-button {
width: 272px;
}

.monthly-button {
padding: 10px 20px 10px 20px;
width: 190px;
font-size: 15px;
}

.row-months {
position: fixed;
margin-top: 62px;
}


.monthly-total-paid {
float: right;
}

.monthly-total-unpaid {
float: left;
}
